.env
testing.js
poem.txt
delete_duplicate_file.py
letter
poem
testcopy.py
temp.txt
__pycache__
node_modules
data
address
gpt2
raokouling
Japanese_Names.txt
2022_11_18_21_12_40.txt
ci2.txt
filter.py
ci.txt
